# Terraria Server Config Example
TERRARIA_WORLD_NAME="MyTerrariaWorld"
TERRARIA_WORLD_SIZE=2 
TERRARIA_SEED=
TERRARIA_DIFFICULTY=1 
TERRARIA_MAX_PLAYERS=10
TERRARIA_PASSWORD="parola12@"
TERRARIA_MOTD="My MOTD message!"